* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #544a40;
}

a:hover {
    text-decoration: underline;
}

h1 {
}

h2 {
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/lato-regular-webfont.woff2') format('woff2'),
        url('../fonts/lato-regular-webfont.woff') format('woff'),
        url('../fonts/lato-regular-webfont.ttf') format('truetype'),
        url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChelseaMarket';
    src: url('../fonts/chelseamarket-regular-webfont.eot');
    src: url('../fonts/chelseamarket-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chelseamarket-regular-webfont.woff2') format('woff2'),
         url('../fonts/chelseamarket-regular-webfont.woff') format('woff'),
         url('../fonts/chelseamarket-regular-webfont.ttf') format('truetype'),
         url('../fonts/chelseamarket-regular-webfont.svg#chelsea_marketregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'LatoBold';
    src: url('../fonts/lato-bold-webfont.eot');
    src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff'),
         url('../fonts/lato-bold-webfont.ttf') format('truetype'),
         url('../fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #cab5a3 url(../images/bg-main.gif) repeat repeat 0 0;
    color: #333; /* Global foreground color. */
    font-family: Lato, Arial, Helvetica, sans-serif;
}

h1, h2, nav {
    font-family: ChelseaMarket, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: normal; /* Prevent headers from applying the default styles. */
    color: #810430;
}

body > header {
    box-shadow: rgba(0, 0, 0, .25) 0 3px 2px 0;
    position: relative;
    z-index: 10;
}
  .logo {
      float:left;
      margin-left: 145px;
      position: relative;
      top: 34px;
      margin-top: -34px;
  }

  nav {
      float: right;
      margin-right: 177px;
      padding-top: 20px;
  }
    nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
    }
      nav ul li {
	  display: inline-block;
	  *display: inline; /* for IE7 */
	  margin-right: 30px;
	  font-size: 20px;
      }
      nav ul li:last-child {
	  margin-right: 0;
      }
      nav a {
	  color: #fefefe;
	  -webkit-transition: color .4s ease-out;
	  -moz-transition: color .4s ease-out;
	  -o-transition: color .4s ease-out;
	  transition: color .4s ease-out;
      }

      nav a:hover { /* Override the global line decoration by using descendant combinator. */
	  text-decoration: none;
	  color: #cdb8a5;
      }

.promo {
    position: relative; /* The positionong context for the absolute positioned div. */
    z-index: 5;
    padding-bottom: 8px;
    box-shadow: rgba(0, 0, 0, .25) 0 3px 2px 0;
}
  .promo-desc {
      position: absolute;
      bottom: 93px;
      right: 75px;
      width: 316px;
      text-align: center;
  }
  .promo-btn {
      display: inline-block; /* Add width to anchor tag. */
      width: 208px;
      padding: 13px 0;
      background-color: #6c0733;
      box-shadow: rgba(0, 0, 0, .25) 0 7px 2px 0;
      color: #fefefe;
      transition: transform .5s ease-out;
  }
  .promo-btn:hover {
      text-decoration: none;
      transform: scale(1.05);
  }

.center-global {
    width: 1020px;
    margin: 0 auto;
}

  .latest {
      width: 640px;
      float: left;
      padding: 0 40px;
      background: url(../images/bg-column.png) no-repeat top right;
  }
    .media {
	clear: left;
	padding-bottom: 28px;
	overflow: hidden;
    }
      .media img {
	  float: left;
	  margin-right: 30px;
	  border: solid 9px #ede0d5;
	  box-shadow: rgba(0, 0, 0, .25) 2px 2px 2px 0;
      }
      .media h2 { /* Override global ChelseaMarket h2 font */
	  color: #49301a;
	  font-family: LatoBold, Arial, Helvetica, sans-serif;
	  font-weight: normal;
	  font-size: 26px;
	  margin-bottom: 5px;
      }
      .media p {
	  margin: 0;
	  font-size: 18px;
	  color: #7b6047;
	  text-transform: uppercase;
      }
      .media a { /* Override the global link decoration */
	  text-decoration: none;
      }
      .media a:hover h2,
      .media a:hover p {
	  color: #b32c1c;
      }
      /* Put the transition property directly to the element selectors rather than to :hover suffixed */
      .media a:hover h2,
      .media a:hover p {
	  -webkit-transition: color .4s ease-out;
	  -moz-transition: color .4s ease-out;
	  -o-transition: color .4s ease-out;
	  transition: color .3s linear;
      }
    .more-btn {
	text-align: center;
	float: right;
	margin-right: 50px;
	width:280px;
    }

  .sidebar {
      width: 360px;
      float: right;
  }
    .rating {
	float: left;
	clear: left;
	padding-top: 4px;
	padding-right: 15px;
	width: 45px;
	color: #810430;
	font-size: 13px;
    }
    .pop-item {
	padding-bottom: 20px;
	float: left;
	width: 250px;
	text-transform: uppercase;
	font-size: 18px;
    }

/* Add a gap between the bottom of .main div contents and the footer. */
.main {
    padding-bottom: 33px;
}

.footer-inside {
    padding-left: 40px;
}
  .footer-1 {
      float: left;
      width: 422px;
  }
  .footer-2 {
      float: left;
      width: 326px;
  }
  .footer-3 {
      float: left;
      width: 232px;
  }


/* Clearfix class */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1; /* for IE6 and IE7 */
}
/* Tweet styles */
.tweet {
    padding-left: 55px;
    padding-right: 20px;
    position: relative;
    line-height: 1.4;
}
  .tweet:before {
      content: url(../images/twitter-icon.png);
      /* display: block; */
      position: absolute;
      left: 15px;
      top: 4px;
  }
  /* Add transitoin directly to the :hover selector to avoid repeating on mouse-out */
  .tweet:hover:before {
      transition: transform 0.5s linear;
      transform: rotate(360deg);
  }
  .tweet a {
      color: #810430;
  }
  .tweet .date {
      color: #8f7e6d;
      font-family: Arial, sans-serif;
      font-size: 12px;
      font-style: italic;
  }

/* Footer background and padding. */
footer {
    background-color: rgb(66, 3, 30);
    padding-top: 10px;
    padding-bottom: 50px;
}

/* Clearing the default unordered list styles */
footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-1 h2 {
    font-size: 36px;
}

.footer-1 ul, .footer-2 ul {
    text-align: center;
    font-size: 20px;
    line-height: 1.7;
}
.footer-1 li { /* Add columns to the leftmost list in the footer. */
    float: left;
    width: 195px;
}
  .footer-1 ul a,
  .footer-2 ul a {
      color: #ab97a0;
  }

.footer-2 {
    float: left;
    width: 326px;
    padding-top: 22px;
}
  .footer-2 ul {
      margin: 0 80px 0 0; /* Move the list under the footer2 heading. */
  }

.footer-3 {
    float: left;
    width: 232px;
    color: #801c48;
    padding-top: 22px;
}
  .footer-3 h2, .footer-3 a {
      color: #801c48;
  }
  .footer-3 ul {
      line-height: 1.7;
  }