* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #544a40;
}

a:hover {
    text-decoration: underline;
}

h1 {
}

h2 {
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/lato-regular-webfont.woff2') format('woff2'),
        url('../fonts/lato-regular-webfont.woff') format('woff'),
        url('../fonts/lato-regular-webfont.ttf') format('truetype'),
        url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChelseaMarket';
    src: url('../fonts/chelseamarket-regular-webfont.eot');
    src: url('../fonts/chelseamarket-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chelseamarket-regular-webfont.woff2') format('woff2'),
         url('../fonts/chelseamarket-regular-webfont.woff') format('woff'),
         url('../fonts/chelseamarket-regular-webfont.ttf') format('truetype'),
         url('../fonts/chelseamarket-regular-webfont.svg#chelsea_marketregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'LatoBold';
    src: url('../fonts/lato-bold-webfont.eot');
    src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff'),
         url('../fonts/lato-bold-webfont.ttf') format('truetype'),
         url('../fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #cab5a3 url(../images/bg-main.gif) repeat repeat 0 0;
    color: #333; /* Global foreground color. */
    font-family: Lato, Arial, Helvetica, sans-serif;
}

h1, h2, nav {
    font-family: ChelseaMarket, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: normal; /* Prevent headers from applying the default styles. */
    color: #810430;
}

body > header {
    box-shadow: rgba(0, 0, 0, .25) 0 3px 2px 0;
    position: relative;
    z-index: 10;
    background-image: linear-gradient(#87053e, #560329);
}
  .logo {
      float:left;
      margin-left: 14.2156862745098%;
      position: relative;
      top: 34px;
      margin-top: -34px;
      -webkit-transform: translateX(-800%);
      -moz-transform: translateX(-800%);
      -ms-transform: translateX(-800%);
      -o-transform: translateX(-800%);
      transform: translateX(-800%);
      animation: logomove 2s ease-out 1s 1 normal forwards;
  }
  @-webkit-keyframes logomove {

      0% {
	  -webkit-transform: translateX(-800%) rotate(0);
      }

      100% {
	  -webkit-transform: translateX(0) rotate(-360deg); /* The logo will rotate counterclockwise while flying. */
      }
  }
  @-moz-keyframes logomove {

      0% {
	  -moz-transform: translateX(-800%) rotate(0);
      }

      100% {
	  -moz-transform: translateX(0) rotate(-360deg); /* The logo will rotate counterclockwise while flying. */
      }
  }
  @-o-keyframes logomove {

      0% {
	  -o-transform: translateX(-800%) rotate(0);
      }

      100% {
	  -o-transform: translateX(0) rotate(-360deg); /* The logo will rotate counterclockwise while flying. */
      }
  }
  @keyframes logomove {

      0% {
	  transform: translateX(-800%) rotate(0);
      }

      100% {
	  transform: translateX(0) rotate(-360deg); /* The logo will rotate counterclockwise while flying. */
      }
  }
  
  nav {
      float: right;
      margin-right: 17.35294117647059%;
      padding-top: 20px;
  }
    nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
    }
      nav ul li {
	  display: inline-block;
	  *display: inline; /* for IE7 */
	  margin-right: 30px;
	  font-size: 20px;
      }
      nav ul li:last-child {
	  margin-right: 0;
      }
      nav a {
	  color: #fefefe;
	  -webkit-transition: color .4s ease-out;
	  -moz-transition: color .4s ease-out;
	  -o-transition: color .4s ease-out;
	  transition: color .4s ease-out;
      }

      nav a:hover { /* Override the global line decoration by using descendant combinator. */
	  text-decoration: none;
	  color: #cdb8a5;
      }

.promo {
    position: relative; /* The positionong context for the absolute positioned div. */
    z-index: 5;
    padding-bottom: 8px;
    box-shadow: rgba(0, 0, 0, .25) 0 3px 2px 0;
    background-image: linear-gradient(#4e0324, #4e0324 97%, #851f49);
    overflow: hidden; /* Hide excess parts of the enclosed image without scrollbars .promo size gets smaller than the image size. */
}
  .promo img {
      width: auto; /* Override the width set in HTML for .center-global container. */
      height: auto;
  }
  .promo-desc {
      position: absolute;
      bottom: 93px;
      right: 7.35294117647059%;
      width: 30.98039215686275%;
      text-align: center;
  }
  /* Promo banner message color */
  .promo-desc h1 {
      color: #fefefe;
  }
  .promo-btn {
      display: inline-block; /* Add width to anchor tag. */
      width: 65.82278481012658%;
      padding: 13px 0;
      background-color: #560329; /* Gradient fallback. */
      background-image: linear-gradient(#87053e, #560329);
      box-shadow: rgba(0, 0, 0, .25) 0 7px 2px 0;
      font-size: 20px;
      color: #fefefe;
      -webkit-transition: transform .5s ease-out;
      -moz-transition: transform .5s ease-out;
      -ms-transition: transform .5s ease-out;
      -o-transition: transform .5s ease-out;
      transition: transform .5s ease-out;
  }
  .promo-btn:hover {
      text-decoration: none;
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
      transform: scale(1.05);
  }

.center-global {
    max-width: 1020px;
    margin: 0 auto;
}

  .latest {
      width: 62.74509803921569%;
      float: left;
      padding: 0 3.92156862745098% 0 3.92156862745098%;
      background: url(../images/bg-column.png) no-repeat top right;
  }
    .media {
	clear: left;
	padding-bottom: 28px;
	overflow: hidden;
    }
      .media img {
	  float: left;
	  margin-right: 5.35714285714286%; /* 30 / (.latest width minus paddings = 640 - 40 * 2) */
	  max-width: 241px;
	  width: 100%; /* Means "shrink proportionally with the .media container". */
	  height: auto; /* Helps the height stay proportional to the width. */
	  border: solid 9px #ede0d5;
	  box-shadow: rgba(0, 0, 0, .25) 2px 2px 2px 0;
      }
      .media h2 { /* Override global ChelseaMarket h2 font */
	  color: #49301a;
	  font-family: LatoBold, Arial, Helvetica, sans-serif;
	  font-weight: normal;
	  font-size: 26px;
	  margin-bottom: 5px;
      }
      .media p {
	  margin: 0;
	  font-size: 18px;
	  color: #7b6047;
	  text-transform: uppercase;
      }
      .media a { /* Override the global link decoration */
	  text-decoration: none;
      }
      .media a:hover h2,
      .media a:hover p {
	  color: #b32c1c;
      }
      /* Put the transition property directly to the element selectors rather than to :hover suffixed */
      .media a h2,
      .media a p {
	  -webkit-transition: color .4s ease-out;
	  -moz-transition: color .4s ease-out;
	  -o-transition: color .4s ease-out;
	  transition: color .3s linear;
      }
    .more-btn {
	text-align: center;
	float: right;
	margin-right: 50px;
	width:280px; /* Leave this in pixels for the RWD purposes, it has nothing beside it. */
    }

  .sidebar {
      width: 35.29411764705882%;
      float: right;
  }
    .rating {
	float: left;
	clear: left;
	padding-top: 4px;
	padding-right: 4.16666666666667%;
	width: 12.5%;
	color: #810430;
	font-size: 13px;
    }
    .pop-item {
	padding-bottom: 20px;
	float: left;
	width: 69.44444444444444%;
	text-transform: uppercase;
	font-size: 18px;
    }

/* Add a gap between the bottom of .main div contents and the footer. */
.main {
    padding-bottom: 33px;
}

.footer-inside {
    padding-left: 40px;
}
  .footer-1 {
      float: left;
      width: 43.06122448979592%; /* 422px / (.footer-inside width minus padding = 1020 - 40) */
  }
  .footer-2 {
      float: left;
      width: 33.26530612244898%;
  }
  .footer-3 {
      float: left;
      width: 23.6734693877551%;
  }


/* Clearfix class */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1; /* for IE6 and IE7 */
}
/* Tweet styles */
.tweet {
    padding-left: 15.27777777777778%;
    padding-right: 5.55555555555556%;
    position: relative;
    line-height: 1.4;
}
  .tweet:before {
      content: url(../images/twitter-icon.png);
      /* display: block; */
      position: absolute;
      left: 4.16666666666667%;
      top: 4px;
  }
  /* Add transitoin directly to the :hover selector to avoid repeating on mouse-out */
  .tweet:hover:before {
      -webkit-transition: transform 0.5s linear;
      -moz-transition: transform 0.5s linear;
      -ms-transition: transform 0.5s linear;
      -o-transition: transform 0.5s linear;
      transition: transform 0.5s linear;
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
  }
  .tweet a {
      color: #810430;
  }
  .tweet .date {
      color: #8f7e6d;
      font-family: Arial, sans-serif;
      font-size: 12px;
      font-style: italic;
  }

/* Footer background and padding. */
footer {
    background-color: rgb(66, 3, 30);
    padding-top: 10px;
    padding-bottom: 50px;
}

/* Clearing the default unordered list styles */
footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-1 h2 {
    font-size: 36px;
}

.footer-1 ul, .footer-2 ul {
    text-align: center;
    font-size: 20px;
    line-height: 1.7;
}
.footer-1 li { /* Add columns to the leftmost list in the footer. */
    float: left;
    width: 46.2085308056872%; /* 195 / 422 */
}
  .footer-1 ul a,
  .footer-2 ul a {
      color: #ab97a0;
  }

.footer-2 {
    float: left;
    width: 33.26530612244898%; /* 326 / 980 */
    padding-top: 22px;
}
  .footer-2 ul {
      /* The margins are calculates as 0 80/326 0 0 */    
      margin: 0 24.5398773006135% 0 0; /* Move the list under the footer2 heading. */
  }

.footer-3 {
    float: left;
    width: 23.6734693877551%; /* 232 / 980 */
    color: #801c48;
    padding-top: 22px;
}
  .footer-3 h2, .footer-3 a {
      color: #801c48;
  }
  .footer-3 ul {
      line-height: 1.7;
  }
